<html>
    <head>
        <title>Django Girls blog Marty</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog Marty</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post, FUCK YEAH</a></h2>
            <p>I am a GOD LEVEL PROGRAMMER.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post, yes, I am amazing</a></h2>
            <p>It took me 8 hours to finally get to this point. What a speed!!! Congrats Marta!</p>
        </div>
    </body>
</html>
